<p class="pull-sm-right">
  {{#link-to "challanges.edit" model class="btn btn-sm btn-primary"}}Edit{{/link-to}}
  <a class="btn btn-sm btn-danger" href="#" {{action "delete" model}}>Delete</a>
</p>

<h3>{{model.title}}</h3>

<div class="row">
  <div class="col-sm-6">
    <p>
      {{model.description}}
      {{model.completedAt}}
    </p>
  </div>
</div>

<hr>

<h4>Milestones</h4>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Created At</th>
      <th>Completed At</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.milestones as |milestone|}}
      <tr>
        <td>{{#link-to 'milestones.show' milestone.id}}{{milestone.title}}{{/link-to}}</td>
        <td>{{milestone.description}}</td>
        <td>{{milestone.createdAt}}</td>
        <td>{{milestone.completedAt}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5" style="text-align: center; font-style: italic">
          This company has no contacts.
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
