= form_for @challange do |f|
  - if @challange.errors.any?
    #error_explanation
      %h2= "#{pluralize(@challange.errors.count, "error")} prohibited this challange from being saved:"
      %ul
        - @challange.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
